@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    color: #444444;
}

::selection {
    background-color: #ffc050;
}

li {
    list-style: none;
}
img {
    max-width: 100%;
}

.button-milu {
    font-family: Muli;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    background-image: linear-gradient(to right, #828fd3 0%, #5e6dbe 51%, #5461aa 100%);
    padding: 15px 30px;
    border-radius: 999em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .4s all;
    display: block;
    width: fit-content;
    background-position: right center;
}

.button-milu:hover {
    box-shadow: 0 20px 38px rgba(0, 0, 0, .16);
    transform: translateY(-3px);
    background-size: 200% auto;

}

.button-milu-yellow {
    background: #ffc050;
}

.cards-container {
    display: flex;
    text-align: center;
    gap: 35px;
    max-width: 1440px;
    margin: auto;
    padding: 50px;
    box-shadow: 0px 15px 44px 0px rgba(0, 0, 0, .05);
}

.cards-container h3 {
    font-family: "Muli";
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;

}

.cards-container p {
    font-size: 14px;
    line-height: 26px;
}

.design-seccion {
    text-align: left;
}

.design-seccion img {
    width: 100%;
    max-width: 385px;
    margin-bottom: 20px;

}

.design-seccion h2 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 800;
    font-family: "Muli";
    color: #333333;
    margin-bottom: 8px;
}


.design-seccion p {
    font-size: 16px;
    line-height: 30px;
    color: #333333;
    margin: 0px 0px 15px 0px;
}

.design-seccion a {
    font-family: "Muli";
    font-weight: 700;
    font-size: 11px;
    line-height: 17px;
    color: #444444;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.design-seccion a::after {
    transition: .3s all;
    content: "";
    background-image: url(../img/icons/chevron-right.svg);
    width: 8px;
    height: 16px;
    display: inline-flex;
    background-repeat: no-repeat;
    margin-left: 7px;
    top: 2px;
    position: relative;
}

.design-seccion a:hover::after {
    margin-left: 14px;
}

.development-seccion {
    max-width: 1440px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.development-seccion h2 {
    font-family: "Muli";
    font-weight: 800;
    font-size: 32px;
    color: #444444;
    line-height: 48px;
    margin-bottom: 35px;
    text-align: left;

}

.development-seccion p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    color: #444444;
    line-height: 30px;
    margin-bottom: 35px;
}

.development-seccion a {
    font-family: Muli;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    background-image: linear-gradient(to right, #828fd3 0%, #5e6dbe 51%, #5461aa 100%);
    padding: 17px 33px;
    border-radius: 999em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .4s all;
    display: block;
    width: fit-content;
    background-position: right center;

}

.development-seccion img {
    display: block;
    margin: auto;
}

.development-seccion a:hover {
    box-shadow: 0 20px 38px rgba(0, 0, 0, .16);
    transform: translateY(-3px);
    background-size: 200% auto;

}

.development-seccion h2 span,.innovate-mobil h2 span,.final-seccion-cards h2 span {
    position: relative;

}

.development-seccion h2 span::after, .innovate-mobil h2 span::after, .final-seccion-cards h2 span::after {
    content: "";
    background-color: #ffc050;
    height: 45%;
    left: 0%;
    bottom: 0%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.development-seccion-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

.development-seccion-card {
    display: flex;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 4px;
    padding: 30px;
    transition: .3s all;

}

.development-seccion-card:hover {
    box-shadow: 0 15px 33px 0 rgba(0, 0, 0, .14);
    transform: translateY(-4px);

}

.development-seccion-card i {
    background-color: #ffc050;
    border-radius: 999em;
    color: white;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    margin-right: 28px;
}

.development-seccion-card h3 {
    font-weight: 800;
    font-family: Muli;
    font-size: 18px;
    line-height: 32px;
    color: #444444;
}

.development-seccion-card p {
    font-size: 14px;
    line-height: 26px;
    color: #333333;
}

.development-seccion-card .icon-purple {
    background-color: #6272c7;
}

.webuild-seccion h2 {
    font-size: 72px;
    font-family: Muli;
    font-weight: 800;
    line-height: 80px;
    color: #333333;
    text-align: left;
    margin-bottom: 16px;
}

.webuild-seccion p {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400px;
    line-height: 28px;
    color: #444444;
    margin-bottom: 3em;
}

.webuild-seccion a {
    font-size: 12px;
    font-family: Muli;
    font-weight: 700;
    line-height: 18px;
}

.webuild-seccion h2 span {
    position: relative;
}

.webuild-seccion h2 span::after {
    content: "";
    background-color: #ffc050;
    height: 45%;
    left: 0%;
    bottom: 0%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.webuild-seccion {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    align-items: center;
    max-width: 1440px;
    margin: auto;
}

.webuild-seccion-container {
    position: relative;
    z-index: 0;
    background-color: #f7f7f7;
}

.webuild-button-container {
    display: flex;
    gap: 40px;
}

.webuild-seccion img {
    max-width: 700px;
    display: block;
}
.innovate-mobil{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 80px;
    margin-bottom: 20px;
    align-items: center;
}
.innovate-mobil img {
    display: block;
    width: 80%;
    margin: auto;
}
.innovate-mobil h2, .final-seccion-cards h2 {
    font-size: 32px;
    font-family: Muli;
    font-weight: 800;
    line-height: 48px;
    color: #444444;
    text-align: left;
    margin-bottom: 35px;
}

.bell-container img {
    width: 100%;
}

.innovate-progress-bar .innovate-progress-bar-text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    color: #444444;
}

.innovate-progress-bar .innovate-progress-bar-item {
    width: 100%;
    height: 8px;
    background-color: rgba(0, 0, 0, .05);
    margin: 10px 0 20px 0;
}

.innovate-progress-bar .innovate-progress-bar-item span {
    display: block;
    background-color: #ffc050;
    width: 90%;
    height: 100%;
}

.innovate-progress-bar .innovate-progress-bar-item-80 span {
    width: 80%;
    background-color: #6272c7;
}

.innovate-progress-bar .innovate-progress-bar-item-70 span {
    width: 70%;
}
.final-seccion-cards {
    max-width: 1440px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.final-seccion-cards p{
    font-size: 16px;
    color: #444444;
    line-height: 30px;
}
.final-seccion-cards .info-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    margin-top: 35px;
    width: 100%;
}
.final-seccion-cards .info-grid h4{
    font-family: "Muli";
    font-size: 20px;
    font-weight: 800;
    line-height: 29px;
    color: #444444;
    margin-bottom: 20px;
    letter-spacing: -1px;
}
.final-seccion-cards .info-grid .info-grid-socials {
    display: flex;
    width: 100%;
    align-items: center;
}
.final-seccion-cards .info-grid .info-grid-socials a{
    display: block;
    margin: 0 1.5em;
}
.final-seccion-cards form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}
.final-seccion-cards form input, .final-seccion-cards form textarea{
    width: 100%;
    border-radius: 99em;
    border: 1px solid #eaeaea;
    color: #333333;
    padding: 12px 18px;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 30px;
    outline: none;
} 
.final-seccion-cards form input:focus, .final-seccion-cards form textarea:focus{
    border-color: #ffc050;

}
.final-seccion-cards form textarea {
border-radius: 20px;
height: 150px;
}
.final-seccion-cards form input:first-child,.final-seccion-cards form input:nth-child(2){
    width: calc(50% - 50px)
}
.final-seccion-cards form button{
    border: 0;
    outline: none;
    background: #6272c7;
    padding: 13px 44px;
    border-radius: 99em;
    width: auto;
    display: block;
    transition: .44s all;
    color: white;
    font-family: Muli;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}
.final-seccion-cards form button:hover{
    background: black;
}