@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0
    ;
}

body {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    color: #444444;
}

::selection{
    background-color: #ffc050;
}

.cards-container {
    display: flex;
    text-align: center;
    gap: 35px;
    max-width: 1440px;
    margin: auto;
    padding: 50px;
    box-shadow: 0px 15px 44px 0px rgba(0, 0, 0, .05);
}

.cards-container h3 {
    font-family: "Muli";
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;

}

.cards-container p {
    font-size: 14px;
    line-height: 26px;
}